<div class="register-container">
  <div class="register-card">
    <h1>¡Regístrate ahora!</h1>
    <form (ngSubmit)="crearCuenta()">
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" id="email" class="form-control" placeholder="Correo electrónico" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña *</label>
        <div class="password-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" placeholder="Contraseña" required>
          <span class="password-icon" (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </span>
        </div>
      </div>
      <button type="submit" class="btn btn-register">
        Crear Cuenta
      </button>
    </form>
    <div class="register-footer">
      <span>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></span>
    </div>
  </div>
</div>