/* los archivos de component.css Aplica estilos visuales al componente: colores, tamaños, márgenes, bordes, tipografías, etc.

Encapsula los estilos: Angular aplica un mecanismo llamado View Encapsulation para que los estilos del archivo .css afecten únicamente a ese componente, sin modificar otros componentes ni el estilo global de la aplicación.
*/
.btn-nuevo {
  background-color: #6f42c1;
  color: white;
  font-weight: bold;
}

.btn-nuevo:hover {
  background-color: #5a349b;
  color: white;
}

.page-container {
  padding: 2rem;
}

.content-card {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
